<form>
  <div>Create New Post</div>
  <div class="mb-3">
    <label for="exampleInputUsername1" class="form-label">Title</label>
    <input type="username" class="form-control" id="exampleInputUsername1" />
  </div>
  <div class="mb-3">
    <label for="exampleInputPassword1" class="form-label">Content</label>
    <input type="password" class="form-control" id="exampleInputPassword1" />
  </div>
  <button type="submit" class="btn btn-primary">Create</button>
</form>