<form>
  <div class="create-new-post">Create New Post</div>
  <div class="mb-3">
    <label for="title" class="form-label">Title</label>
    <input type="title" class="form-control" id="title" />
  </div>
  <div class="mb-3">
    <label for="content" class="form-label">Content</label>
    <input type="content" class="form-control" id="content" />
  </div>
  <button type="submit" class="btn btn-dark">Create</button>
</form>

<script src="/js/addPosts.js"></script>