<form>
  <div>Edit Post</div>
  <div class="mb-3">
    <label for="title" class="form-label">Title</label>
    <input
      type="title"
      class="form-control"
      id="title"
      value="{{postsData.title}}"
    />
  </div>
  <div class="mb-3">
    <label for="content" class="form-label">Content</label>
    <input
      type="content"
      class="form-control"
      id="content"
      value="{{postsData.content}}"
    />
  </div>
  <button type="submit" id="update-btn" class="btn btn-dark">Update</button>
</form>

<script src="/js/editPost.js"></script>