<div class="posts-container-logged-out">
  <div><h2>Title</h2><h3>Posted by xxxx on mm/dd/yyy</h3></div>
  <div><h3>comment</h3></div>
</div>

<div class="posts-container-logged-in">
  <div><h3>comment</h3><h3>mm/dd/yyy</h3></div>
</div>