<form class="login-form">
  <div class="login-container">
    <div class="login-title-container">
      <div class="login-title">Login</div>
    </div>
    <div class="login-content">
      <div class="mb-3">
        <label for="inputUsername" class="form-label">Username</label>
        <input type="username" class="form-control" id="inputUsername" />
      </div>
      <div class="mb-3">
        <label for="inputPassword" class="form-label">Password</label>
        <input type="password" class="form-control" id="inputPassword" />
      </div>
    </div>
  </div>
  <button type="submit" class="btn btn-primary btn-login">Login!</button>
  <div><a href="/signup">Sign up instead</a></div>
</form>
<script src="/js/login.js"></script>