<form class="signup-form">
  <div class="signup-container">
    <div class="signup-title-container">
      <div class="signup-title">Sign Up</div>
    </div>
    <div class="signup-content">
      <div class="mb-3">
        <label for="inputUsername" class="form-label">Username</label>
        <input type="username" class="form-control" id="inputUsername" />
      </div>
      <div class="mb-3">
        <label for="inputPassword" class="form-label">Password</label>
        <input type="password" class="form-control" id="inputPassword" />
      </div>
    </div>
  </div>
  <button type="submit" class="btn btn-primary btn-signup">Signup!</button>
  <div><a href="/login">Login instead</a></div>
</form>
<script src="/js/signup.js"></script>